/* src/App.css */
.App {
  min-height: 100vh;
  background: rgba(246, 247, 248, 1);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Убираем синюю подсветку при клике на кнопки */
button:focus,
button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* src/App.css */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1;
}